<div id="menubar">
    <ul id="menu">
        <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
        {% if current_user.is_authenticated %}
            <li><a class="nav-item nav-link navigation-links" href="{{url_for('users.account') }}"><i class="fa fa-user"></i>Профиль</a></li>
            <li><a class="nav-item nav-link navigation-links" href="{{ url_for('posts.new_post') }}"><i class="fa fa-plus"></i>Новый пост</a></li>
            <li><a class="nav-item nav-link navigation-links" href="{{ url_for('posts.allpost') }}"><i class="fa fa-th"></i>Посты</a></li>
            <li><a class="nav-item nav-link navigation-links" href="{{ url_for('users.logout') }}"><i class="fa fa-sign-out"></i>Выйти</a></li>
        {% else %}
            <li><a class="nav-link nav-item navigation-links" href="{{url_for('users.login') }}">Войти</a></li>
            <li><a class="nav-link nav-item navigation-links" href="{{url_for('users.register') }}">Зарегистрироваться</a></li>
        {% endif %}
    </ul>
</div>